<!--Assignemnt 2: Home Page
    Gabrielle Paguio
    100820990-->

<%- include partials/header.ejs %>
<%- include partials/nav_bar.ejs %>
<main class="min-vh-100">
  <h1>Welcome to the <%= title %> Page</h1>
  <!-- justify-content-center centers the grid of images -->
  <div class="rowHome d-flex flex-row justify-content-center">
      <img class="picOne img-fluid col" src="/Assets/images/homeImage.jpg" alt="View of clouds from a plane">
      <img class="facePic img-fluid col" src="/Assets/images/facePic.JPG" alt="Picture of me">
      <img class="picTwo img-fluid col" src="/Assets/images/homeImage3.jpg" alt="View from a hotel">
  </div>
</main>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
