<!--Assignemnt 2: Home Page
    Gabrielle Paguio
    100820990-->

<%- include partials/header.ejs %>
<link rel='stylesheet' href='/Content/app.css' />
<%- include partials/nav_bar.ejs %>
<main>
  <h1>Welcome to the <%= title %> Page</h1>
  <div id="img">
      <!--alt is the alternate text if the image does not show up -->
      <img class="picOne" src="/Assets/images/homeImage.jpg" alt="View of clouds from a plane">
      <img class="facePic" src="/Assets/images/facePic.JPG" alt="Picture of me">
      <img class="picTwo" src="/Assets/images/homeImage3.jpg" alt="View from a hotel">
  </div>
  <!-- separates content from footer; doesn't allow elements to float within this div -->
</main>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
