<!--Assignemnt 2: Projects Page
    Gabrielle Paguio
    100820990-->

<%- include partials/header.ejs %>
<link rel='stylesheet' href='/Content/app.css' />
<%- include partials/nav_bar.ejs %>
<main class="min-vh-100">
    <h1>Welcome to the <%= title %> Page</h1>
    <!--projects div contains all the information about the projects from first year-->
    <!--bootstrap source: https://getbootstrap.com/docs/4.1/utilities/shadows/-->
    <div class="projects">
        <!-- title of the content -->
        <h2>Python Projects</h2>
        
        <hr>
        <div class="project1 d-flex flex-row">
            <!-- the <b> bolds the title of each project -->
            <b class="title col-sm">Hangman</b><br>
            <!-- information about the Hangman project from first year -->
            <p class="col">A program that randomly selects a word from a word box previously created
            and prompts the use for a letter to guess. If a correct letter was guessed
            the letter would be showed in the word. Likewise, if the letter guessed is
            wrong, body part will be added each time. The game will continue until all
            the body parts are drawn.</p>
        </div>
        <hr>
        <div class="project2 d-flex flex-row">
            <b class="title col-sm">Restaurant Reservation</b>
            <!-- contains information about the restaurant reservation from OOP final project -->
            <p class="title col">By using SQL, my group made a reservation program for a restaurant. This
            was made possible by making the primary key a reservation number to
            organize the table in a neat and effective way.</p>
        </div>
    </div>
</main>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>